body {
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    color: #f9f9f9;
    background-color: #000000;
}

.color {
    color: #e35505;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.title {
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    padding-top: 90px;
    margin:0 auto 90px;
}

.header-bg {
    background-color: #b55823;
    .container {
        overflow: visible;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        .header-nav {
            #menu-toggle {
                display: none;
            }
            .nav-menu {
                display: flex;
            }
            .menu-link {
                font-size: 20px;
                text-decoration: none;
                color: #ffffff;
                margin: 0 10px;
            }
        }

        .contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: end;
            .contact-link {
                font-size: 20px;
                text-decoration: none;
                color: #ffffff;
                line-height: 40px;
            }
        }

    }
}

.slider-block {
    border-bottom: 2px solid #ababab;
    box-sizing: border-box;
    .slider-title {
        max-width: 710px;
    }
    .slider {
        position: relative;
        margin-bottom: 100px;
        .button-prev {
            position: absolute;
            z-index: 2;
            bottom: -70px;
            left: 40%;
            cursor: pointer;
        }
        .button-next {
            position: absolute;
            z-index: 2;
            bottom: -70px;
            right: 40%;
            cursor: pointer;
        }
        .swiper-wrapper {
            display: flex;
            .swiper-slide {
                width: 1061px;
                height: 500px;
                position: relative;
                .slide-title {
                    font-size: 30px;
                    text-align: center;
                    position: absolute;
                }
            }
            .slide-1 {
                background-image: url(../img/cam.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                .slide-title {
                    max-width: 312px;
                    top: 20px;
                    left: 50px;
                }
            }

            .slide-2 {
                background-image: url(../img/sks.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                .slide-title {
                    max-width: 340px;
                    top: 30px;
                    right: 300px;
                }
            }

            .slide-3 {
                background-image: url(../img/optica.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: 5px;
                .slide-title {
                    max-width: 390px;
                    bottom: 50px;
                    right: 100px;
                }
            }

            .slide-4 {
                background-image: url(../img/skud.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                .slide-title {
                    max-width: 350px;
                    top: 100px;
                    right: 280px;
                }
            }

            .slide-5 {
                background-image: url(../img/turniket.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                .slide-title {
                    max-width: 380px;
                    top: 50px;
                    left: 70px;
                }
            }
        }
    }
}

.advantage-block {
    border-bottom: 2px solid #ababab;
    box-sizing: border-box;
    .advantage-list {
        list-style-type: none;
        font-size: 34px;
        line-height: 60px;
        margin-bottom: 100px;
        .period {
            font-size: 46px;
            text-transform: none;
        }
    }
}

.trust-block {
    border-bottom: 2px solid #ababab;
    box-sizing: border-box;
    .trust-description {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        .trust-list {
            font-size: 24px;
            line-height: 40px;
            padding-left: 20px;
            padding-top: 30px;
            .trust-item {
                margin-bottom: 30px;
            }
        }
    }
}

.contact-block {
    border-bottom: 2px solid #ababab;
    box-sizing: border-box;
    .contact-list {
        font-size: 30px;
        line-height: 60px;
        margin-bottom: 100px;
    }
}

.feedback-block {
    border-bottom: 2px solid #ababab;
    box-sizing: border-box;
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .feedback-title {
        max-width: 640px;
    }
    .feedback-form {
        width: 100%;
        display: flex;
        justify-content: center;
        .input {
            margin: 0px 50px;
            padding: 14px 50px;
            border-radius: 20px;
            font-size: 20px;
            color: #934937;
        }
    }
    .feedback-btn {
        padding: 10px 50px;
        border: none;
        border-radius: 20px;
        font-size: 24px;
        background-color: #b55823;
        color: #ffffff;
        margin: 90px auto;
    }
}

.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    .copyright {
        margin-right: auto;
    }
    .slash {
        margin-right: 20px;
    }
    .footer-link {
        margin-right: 20px;
    }
    .copyright, .footer-link, .slash {
        text-decoration: none;
        font-size: 18px;
        color: #303030;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 16px;
        padding-top: 50px;
        margin: 0 auto 40px;
    }
    .header-bg {
        .header {
            .logo {
                padding-left: 15px;
                .logo-img {
                    max-width: 100px;
                }
            }

            .contacts {
                display: none;
            }

            .header-nav {
                .hamburger-menu {
                    display: block;
                }

                /* скрываем чекбокс */
                #menu-toggle {
                    opacity: 0;
                }

                /* стилизуем кнопку */
                .menu-btn {
                    display: flex;
                    /* используем flex для центрирования содержимого */
                    align-items: center;
                    /* центрируем содержимое кнопки */
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 28px;
                    height: 27px;
                    cursor: pointer;
                    z-index: 5;
                }

                /* добавляем "гамбургер" */
                .menu-btn>span,
                .menu-btn>span::before,
                .menu-btn>span::after {
                    display: block;
                    position: absolute;
                    width: 25px;
                    height: 2px;
                    background-color: #ffffff;
                    ;
                }

                .menu-btn>span::before {
                    content: '';
                    top: -7px;
                }

                .menu-btn>span::after {
                    content: '';
                    top: 7px;
                }


                /* контейнер меню */
                .nav-menu {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    visibility: hidden;
                    top: 0;
                    left: 0;
                    width: 100%;
                    max-width: 375px;
                    margin: 0;
                    padding: 60px 0 60px;
                    list-style: none;
                    background-color: #000000;
                    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
                    z-index: 4;
                    opacity: 0.9;
                }

                /* элементы меню */
                .menu-link {
                    display: block;
                    padding: 10px 0;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 3px;
                    text-decoration: none;
                    text-align: center;
                    line-height: 1.4;
                }

                .menu-link:hover {
                    background-color: #CFD8DC;
                    color: #000000;
                }

                #menu-toggle:checked~.menu-btn>span {
                    transform: rotate(45deg);
                }

                #menu-toggle:checked~.menu-btn>span::before {
                    top: 0;
                    transform: rotate(0);
                }

                #menu-toggle:checked~.menu-btn>span::after {
                    top: 0;
                    transform: rotate(90deg);
                }

                #menu-toggle:checked~.nav-menu {
                    visibility: visible;
                    left: 0;
                }

                .menu-btn>span,
                .menu-btn>span::before,
                .menu-btn>span::after {
                    transition-duration: .25s;
                }

                .nav-menu {
                    transition-duration: .25s;
                }

                .menu-link {
                    transition-duration: .25s;
                }

                ul li a:hover {
                    color: #000000;
                }

                ul li a:hover::before {
                    animation: none;
                }
            }
        }
    }
    .slider-block {
        .slider-title {
            max-width: 260px;
        }
        .slider {
            margin-bottom: 40px;
            .button-prev {
                bottom: -30px;
                left: 20%;
                img {
                    max-width: 15px;
                }
            }
            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        height: 150px;
                        .slide-title {
                            font-size: 12px;
                            line-height: 1.2;
                        }
                    }
                    .slide-1 {
                        .slide-title {
                            max-width: 150px;
                            top: 0px;
                            left: 0px;
                        }
                    }
                    .slide-2 {
                        .slide-title {
                            max-width: 140px;
                            top: 10px;
                            right: 20px;
                        }
                    }
                    .slide-3 {
                        .slide-title {
                            max-width: 160px;
                            bottom: 8px;
                            right: 30px;
                        }
                    }
                    .slide-4 {
                        .slide-title {
                            max-width: 140px;
                            top: 10px;
                            right: 20px;
                        }
                    }
                    .slide-5 {
                        .slide-title {
                            max-width: 80px;
                            top: 20px;
                            left: 30px;
                        }
                    }
                }
            }
            .button-next {
                bottom: -30px;
                right: 20%;
                img {
                    max-width: 15px;
                }
            }
        }
    }
    
    .advantage-block {
        .advantage-list {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 40px;
            padding: 0 15px;
            .list-item {
                margin-bottom: 10px;
                .period {
                    font-size: 24px;
                }
            }
        }
    }

    .trust-block {
        .trust-description {
            margin-bottom: 40px;
            .trust-list {
                font-size: 14px;
                line-height: 20px;
                padding: 0 15px;
            }
        }
    }

    .contact-block {
        .contact-list {
            font-size: 14px;
            line-height: 20px;
            margin: 0 auto 40px;
            max-width: 200px;
            .contact-link {
                text-decoration: none;
                color: #e35505;
            }
        }
    }

    .feedback-block {
        .feedback-title {
            max-width: 240px;
        }
        .feedback-form {
            flex-direction: column;
            .input {
                margin: 0 auto 20px;
                padding: 10px 30px;
                border-radius: 20px;
                font-size: 12px;
            }
            p {
                font-size: 10px;
                .star {
                    color: #e35505;
                }
            }
        }
        .feedback-btn {
            padding: 10px 44px;
            font-size: 14px;
            margin: 10px auto 40px;
        }
    }

    .footer {
        flex-direction: column;
        max-width: 180px;
        margin: 20px auto;
        .slash {
            display: none;
        }
        .copyright,
        .footer-link {
            font-size: 10px;
        }
    }
}
